* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: .8rem;
}

body {
    background-image: linear-gradient(rgb(3, 3, 48), rgb(88, 2, 88));
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    border: 1px solid purple;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.app, .options {
    border: 4px solid rgba(128, 0, 128, 0.575);
    background-image: linear-gradient(rgb(88, 2, 88), rgb(3, 3, 48));
    padding: 1.5rem 5rem ;
    margin: 2rem 0;
}

.logo {
    text-align: center;
    margin: .5rem;
}

.app-image {
    display: flex;
    flex-direction: column;
    width: auto;
    border: 1px solid black ;
    margin: 0 auto;
}

.text-box {
    background-color: black;
    color: rgb(255, 255, 255);
    
}

#display-image {
    width: 100%;
    height: 25rem;
    /* background-image: url('../img/gato-contorcionista.jpg'); */  
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

textarea{
    width: 100%;
    resize: vertical;
    border: none;
    padding: .5rem;
    overflow: hidden;
    height: 5rem;
    outline: none;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

#memes-list {
    width: 100%;
    text-transform: uppercase;
    margin: 1rem 0;
}

.app-photo-picker {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 7rem;
}

#btn-download {
    width: 100%;
    font-weight: bolder;
    padding: .5rem;
    font-size: 1rem;
    background-color: rgba(246, 250, 40, 0.808);
    border: 1px solid purple;
    border-radius: 1rem;
}

#btn-download:hover {
    background-color: rgba(246, 250, 40, 0.486);
    color: purple;
    cursor: pointer;
}

#image-input {
    font-size: .7rem;
}

@media screen and (max-width: 640px) {
    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-size: cover;
    }
    .app {
        width: fit-content;
    }
}